<div id="<%= dom_id post %>">


<table class="table table-light ">
<thead class="thead-light">
  <tr>
    <th scope="col"><strong>Home Team</strong></th>
    <th scope="col"><strong>Away Team</strong></th>
    <th scope="col"><strong>Home Score</strong></th>
    <th scope="col"><strong>Away Score</strong></th>
  </tr>
</thead>
<tbody>
  <tr>
  <td><%= post.home %></td>
    <td><%= post.away %></td>
    <td><%= post.homescr %></td>
    <td><%= post.awayscr %></td>
</tr>
</tbody>
</table>
 

</div>
